:root {
  --bg-color: #fde7c6;
  --text-color: #301605;
  --border-color: #1a1a1a;
  --toggle-bg: #fde7c6;
  --git-hub-url: url('/images/github-mark.png');
}

::-webkit-scrollbar {
  display: none; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  color: var(--text-color);
}

main {
  --header-text-font: Impact, 'Condensed', 'Arial Narrow', sans-serif;
  --normal-text-font: 'Roboto', sans-serif;
  transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: auto;
}

body[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #fdf8f4;
  --border-color: #fdf8f4;
  --toggle-bg: #1a1a1a;
  --git-hub-url: url('/images/github-mark-white.png');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
  a:hover {
    color: var(--text-color);
  }
  button {
    background-color: var(--bg-color);
  }
}
